<div class="contacts">
  
  <!-- <table class="table table-hover " [mfData]="contactsList" #mf="mfDataTable" [mfRowsOnPage]="5">
    <thead>
      <tr>
        <th>Id</th>
        <th>
          <mfDefaultSorter by="first_name">First Name</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="last_name">Last Name</mfDefaultSorter>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contact of mf.data; let i = index">
        <td>{{i}}</td>
        <td>{{contact['first_name']}}</td>
        <td>{{contact['last_name']}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4">
          <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
        </td>
      </tr>
    </tfoot>
  </table> -->
  <div class="row">
    <div class="col-md-3">
      <input type="text" placeholder="Search Name" class="form-control" (input)="filter()" [(ngModel)]="searchFilter">
    </div>
    
    <div class="col-md-2 btn btn-default" (click)="isAdvancedFiltering = !isAdvancedFiltering ; filter()">Advanced Filtering</div>

    <div class="col-md-2 dropdown">
      <button class="btn btn-success" data-toggle="dropdown">Action</button>
      <ul class="dropdown-menu">
        <li (click)="deleteSelected()">Delete</li>
        <li>Send Bulk Messages</li>
      </ul>
    </div>
  </div>

  <div class="row advanced-filtering" *ngIf="isAdvancedFiltering">
    <div class="col-md-4 filter-item">
      <input type="text" placeholder="tag" class="form-control" [(ngModel)]="tagFilter" (input)="filter()">
    </div>
    <div class="col-md-4 filter-item">
      <input type="text" placeholder="status" class="form-control" [(ngModel)]="statusFilter" (input)="filter()">
    </div>
    <div class="col-md-4 filter-item">
      <input type="text" placeholder="actions" class="form-control" [(ngModel)]="actionsFilter" (input)="filter()">
    </div>
    <div class="col-md-4 filter-item">
      <input type="text" placeholder="messages" class="form-control" [(ngModel)]="messagesFilter" (input)="filter()">
    </div>
    <div class="col-md-4 filter-item">
      <input type="text" placeholder="date of creation" class="form-control" (input)="filter()" [(ngModel)]="dateofcreationFilter">
    </div>

    <div class="col-md-4 filter-item">
      <input type="text" placeholder="staff" class="form-control" (input)="filter()" [(ngModel)]="staffFilter">
    </div>
    <div class="col-md-4 filter-item">
      <input type="text" placeholder="rate" class="form-control" (input)="filter()" [(ngModel)]="ratingFilter">
    </div>
    <div class="col-md-4 filter-item">
      <input type="text" placeholder="time" class="form-control" (input)="filter()" [(ngModel)]="timeFilter">
    </div>
    <div class="col-md-4 filter-item">
      <input type="text" placeholder="note" class="form-control" (input)="filter()" [(ngModel)]="noteFilter">
    </div>
  </div>
  
  <div class="contacts">
    <table class="table table-hover">
      <thead>
        <th></th>
        <th>Profile</th>
        <th>Name</th>
        <th>Tags</th>
        <th>Status</th>
        <th>Actions</th>
        <th>Messages</th>
        <th>Date of Creation</th>
        <th>Staff</th>
        <th>Rating</th>
        <th>Time</th>
        <th>Note</th>
      </thead>
      <tbody>
        <tr *ngFor="let contact of contactsListShow; let i = index">
          <td><input type="checkbox" [(ngModel)]="contact.check"></td>
          <td>
            <img [src]="contact.profile_image" alt="" class="profile-image">
          </td>
          <td>{{contact.name}}</td>
          <td>{{contact.tags}}</td>
          <td>{{contact.status}}</td>
          <td>{{contact.actions}}</td>
          <td>{{contact.messages}}</td>
          <td>
             {{contact.date_of_creation | amTz:'America/Chicago' | amDateFormat }}
          </td>
          <td>{{contact.staff}}</td>
          <td>{{contact.rating}}</td>
          <td>{{contact.time}}s</td>
          <td>{{contact.note}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>