<div class="profile container">
  <div class="row">
    <div class="col-md-5">
    <img [src]="profile.avartar" class="avartar" *ngIf="isLoadedProfile">
      
      <div class="btn btn-success change-avartar-btn" (click)="clickChangeAvartar()">Change Avartar</div>
      <input type="file" accept=".jpg, .png, .jpeg" id="profile-imgage-upload" style="display: none;" (change)="fileChange($event)">
      <div class="btn btn-danger change-password-btn" (click)="isChangePassword = true">Change Password</div>
      <div class="btn btn-primary change-profile-btn" (click)="clickEditProfile()">Edit Profile</div>
    </div>
    <div class="col-md-7" *ngIf="isLoadedProfile">
      <div class="profile-info">
        <div class="row">
          <div class="col-md-6">
            <h3>Name : </h3>
          </div>
          <div class="col-md-6">
            <h3 *ngIf="!isEditProfile">{{profile.name}}</h3>
            <input [(ngModel)]="editprofile.name" *ngIf="isEditProfile" class="form-control" placeholder="Name"/>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <h3>Email : </h3>
          </div>
          <div class="col-md-6">
            <h3 *ngIf="!isEditProfile">{{profile.email}}</h3>
            <input [(ngModel)]="editprofile.email" *ngIf="isEditProfile" class="form-control" placeholder="Email" />
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <h3>Phone : </h3>
          </div>
          <div class="col-md-6">
            <h3 *ngIf="!isEditProfile">{{profile.phone}}</h3>
            <input [(ngModel)]="editprofile.phone" *ngIf="isEditProfile" class="form-control" placeholder="Phone" />
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <h3>Description : </h3>
          </div>
          <div class="col-md-12">
            <div *ngIf="!isEditProfile">{{profile.description}}</div>
            <textarea [(ngModel)]="editprofile.description" *ngIf="isEditProfile" class="form-control description-textarea" placeholder="Description"></textarea>
          </div>
        </div>

        <div class="row save-profile-btns" *ngIf="isEditProfile">
          <div class="col-md-12">
            <div class="btn btn-success" (click)="clickSaveProfile()">Save Profile</div>
            <div class="btn btn-danger" (click)="isEditProfile = false">Cancel</div>
          </div>
        </div>
      </div>

      <div class="change-pwd-div" *ngIf="isChangePassword">
        <div class="form-group">
          <label class="text-danger" *ngIf="isNotMatchedPasswords">Passwords are not Matched!</label>
        </div>
        <div class="form-group">
          <label>Current Password:</label>
          <input type="password" class="form-control" placeholder="Current Password" [(ngModel)]="changePassword.current">
        </div>
        <div class="form-group">
          <label>New Password:</label>
          <input type="password" class="form-control" placeholder="New Password" [(ngModel)]="changePassword.new">
        </div>
        <div class="form-group">
          <label>Confirm Password:</label>
          <input type="password" class="form-control" placeholder="Confirm Password" [(ngModel)]="changePassword.confirm">
        </div>
        <button type="button" class="btn btn-danger" (click)="clickChangePassword()">Change Password</button>
        <button type="button" class="btn btn-primary" (click)="clickCancelChangePassword()">Close</button>
      </div>

    </div>
  </div>
</div>