.chat{
    .slider-div{
        width: 70%;
        margin: auto;
    }

    .templates-div{
        max-height: 100px;
        width: 100%;
        padding: 10px;
        overflow: scroll;
        .template-item {
            background: #aaa;
            padding: 5px;
            border-radius: 5px;
            cursor: pointer;
            margin: 3px;
            height: 50px;
        }
    }

    .chat-content-item{
        width: 100%;
        margin-top: 10px;
    }

    .selfmsg{
        display: flex;
        justify-content: flex-end;
        .chat-content{
            width: 80%;
            color: black;
            background: #ddd;
            padding: 10px;
            border-radius: 5px;
            font-weight: 600;
        }

    }
}