.chat{
    .slider-div{
        width: 70%;
        margin: auto;
    }

    .templates-div{
        max-height: 100px;
        width: 100%;
        padding: 10px;
        overflow: scroll;
        .template-item {
            background: #aaa;
            padding: 5px;
            border-radius: 5px;
            cursor: pointer;
            margin: 3px;
            height: 50px;
        }
    }

    .chat-content-item{
        width: 100%;
        margin-top: 10px;
    }

    .selfmsg{
        display: flex;
        justify-content: flex-end;
        .chat-content{
            // width: 80%;
            color: black;
            background: #ddd;
            padding: 10px;
            border-radius: 5px;
            font-weight: 600;
        }
    }

     .othermsg {
       width: 100%;

       .chat-content {
        //  width: 80%;
         background: #0f58dc;
         color: white;
         padding: 10px;
         margin: 10px;
         border-radius: 5px;
       }

       .username{
           margin-left:10px; 
       }
     }

     .message-content{
        width: 80%;
     }

     .interest-item{
        background: #aaa;
        margin: 5px;
        border-radius: 3px;
        padding: 0 2px;
        cursor: pointer;
     }

     .tag-item{
         .tag-item-remove{
             cursor: pointer;
             color: red;
         }
     }
}