<div class="chat">
  <div class="text-right">Total time in Conversation: 30 mins</div>
  
  <div>
    <table class="table table-bordered">
      <tr>
        <td class="text-center" style="width: 50%;font-size: 20px;font-weight: 600;">Profile</td>
        <td class="text-center" style="font-size: 20px;font-weight: 600;">Chat</td>
      </tr>
      
      <tr>
        <td>
          <div class="slider-div">
            <slideshow [height]="'300px'" [autoPlay]="true" [showArrows]="true" [imageUrls]="imageUrlArray"
            [autoPlayWaitForLazyLoad]="true">
            </slideshow>
          </div>
          <div *ngIf="userProfile" class="row">
            <div class="col-md-6">
              <p>First Name: {{userProfile["first_name"]}}</p>
              <p>Last Name: {{userProfile['last_name']}}</p>
              <p>Birthday: {{userProfile['dob'] | amDateFormat: 'YYYY-MM-DD' }}</p>
              <p>Gender: {{userProfile['gender'] == 1 ? 'Man': 'Woman'}}</p>
              <p>Orientation: {{userProfile['orientation'] == null ? '-': userProfile['orientation']}}</p>
              <p>Education: {{userProfile['education'] == null || userProfile['education'] == '' ? '-': userProfile['education']}}</p>           
            </div>
            <div class="col-md-6">
              <p>Address: {{userProfile['address'] == null || userProfile['address'] == '' ? '-': userProfile['address']}}</p>
              <p>City: {{userProfile['city'] == null || userProfile['city'] == '' ? '-': userProfile['city']}}</p>
              <p>Country: {{userProfile['country'] == null || userProfile['country'] == '' ? '-': userProfile['country']}}</p>
              <p>ZipCode: {{userProfile['zipcode'] == null || userProfile['zipcode'] == '' ? '-': userProfile['zipcode']}}</p>
              <p>About Me: {{userProfile['about_me'] == null || userProfile['about_me'] == '' ? '-': userProfile['about_me']}}</p>
              <p>Interest: {{userProfile['interest'] == null || userProfile['interest'] == '' ? '-': userProfile['interest']}}</p>
            </div>
          </div> 
        </td>
        <td>

        </td>
      </tr>
      <tr>
        <td>
          <div class="row" *ngIf="contactInfo">
            <div class="col-md-6">
              <label>Status:</label>
              <label>{{contactInfo['status']['name']}}</label>
            </div>
            <div class="col-md-6">
              <label>Actions:</label>
              <label>{{contactInfo['actions']['name']}}</label>
            </div>
            <div class="col-md-6">
              <label>Staff:</label>
              <label>{{contactInfo['staff']['name']}}</label>
            </div>
            <div class="col-md-6">
              <label>Rating:</label>
              <label>{{contactInfo['rating']}}</label>
            </div>
          </div>

          <div class="row" *ngIf="contactInfo">
            <div class="col-md-6">
              <p>
                <label>Tags</label>
                <i class="fas fa-plus-circle" style="cursor: pointer;font-size: 20px;" (click)="clickAddTag()"></i>
              </p>
              <p *ngIf="isAddTag">
                <select name="" class="form-control" style="margin-bottom: 10px;" [(ngModel)]="selectedTagId">
                  <option value="-1">Please Select tag</option>
                  <option *ngFor="let tag of showTagList;" [value]="tag.id">{{tag.name}}</option>
                </select>
                <button class="btn btn-success" (click)="addTag()">Add</button>
                <button class="btn btn-danger" (click)="isAddTag = false;">Cancel</button>
              </p>
              <ul>
                <li *ngFor="let tag of contactInfo['tagsArray'];">{{tag.name}}</li>
              </ul>
            </div>
            <div class="col-md-6">
              <p>Note:</p> 
              <div>
                <textarea name="" class="form-control" [(ngModel)]="contactInfo['note']"></textarea>
                <button class="btn btn-success" (click)="saveNote()" style="margin-top: 10px;">{{saveNoteBtnStr}}</button>
              </div>
            </div>
          </div>
        </td>
        <td>
          <div class="row" style="border-bottom: solid 1px #dee2e6;padding-bottom: 15px;">
            <div class="col-md-8">
              <input type="text" class="form-control" placeholder="Search saved templates" [(ngModel)]="searchTemplateStr" (input)="searchTemplate()">
            </div>
            <div class="col-md-2">
              <button class="btn btn-primary" (click)="searchTemplateStr = ''; searchTemplate();">See All</button>
            </div>
            <div class="col-md-2">
              <button class="btn btn-success" [disabled]="showTemplates.length !== 0" (click)="addNewTemplate()">Add New</button>
            </div>

            <div class="col-md-12" class="templates-div">
              <label *ngFor="let template of showTemplates" class="template-item">{{template.name}}</label>
            </div>
          </div>

          <div class="row" style="padding-top: 15px;">
            <div class="col-md-12">
              <textarea name="" class="form-control"></textarea>
            </div>
            <div class="col-md-12 text-right">
              <button class="btn btn-success" style="margin-top: 15px;">Enter</button>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>