<div class="chat">
  <div class="text-right">Total time in Conversation: {{chartTimeMin}}:{{chartTimeSec}}</div>
  
  <div>
    <table class="table table-bordered">
      <tr>
        <td class="text-center" style="width: 50%;font-size: 20px;font-weight: 600;">Profile</td>
        <td class="text-center" style="font-size: 20px;font-weight: 600;">Chat</td>
      </tr>
      
      <tr>
        <td>
          <div style="max-height: 550px; overflow: scroll;">
          <div class="slider-div">
            <slideshow [height]="'300px'" [autoPlay]="true" [showArrows]="true" [imageUrls]="imageUrlArray"
            [autoPlayWaitForLazyLoad]="true">
            </slideshow>
          </div>
          <div *ngIf="userProfile" class="row">
            <div class="col-md-12">
              <p>First Name: {{userProfile["first_name"]}}</p>
              <p>Last Name: {{userProfile['last_name']}}</p>
              <p>Birthday: {{userProfile['dob'] | amDateFormat: 'YYYY-MM-DD' }}</p>
              <p>Gender: {{userProfile['gender'] == 1 ? 'Man': 'Woman'}}</p>
              <p>Sex orientation : {{userProfile['show_me'] == '1,1' ? 'Both': ''}}
                                   {{userProfile['show_me'] == '0,1'|| userProfile['show_me'] == ',1' ? 'Female': ''}}
                                   {{userProfile['show_me'] == '1,0'|| userProfile['show_me'] == '1,' ? 'Male': ''}}
              </p>
              <p>Ages looking for : {{userProfile['age_range']}}</p>
              <p>City: {{userProfile['city'] == null || userProfile['city'] == '' ? '-': userProfile['city']}}</p>
              <p>State: {{userProfile['state'] == null || userProfile['state'] == '' ? '-': userProfile['state']}}</p>
              <p>ZipCode: {{userProfile['zipcode'] == null || userProfile['zipcode'] == '' ? '-': userProfile['zipcode']}}</p>
              <p>Occupation : {{userProfile['profession']}}</p>
              <p>Height: {{userProfile['height']}}</p>
              <p>Education Level : {{userProfile['education_level']}}</p>
              <p>School : {{userProfile['education'] == null || userProfile['education'] == '' ? '-': userProfile['education']}}</p>
              <p>About Me: {{userProfile['about_me'] == null || userProfile['about_me'] == '' ? '-': userProfile['about_me']}}</p>
              <p>Profile Picture : <img [src]="userProfile['image']"></p>
              <p>Attraction Badge status : {{userProductPayment}}</p>
              <p>isFacebookConnected : {{userSocialData.isFacebookConnected}}</p>
              <p>isTwitterConnected : {{userSocialData.isTwitterConnected}}</p>
              <p>isInstagramConnected : {{userSocialData.isInstagramConnected}}</p>
              <p>Activist Badge : {{userProfile['bone_marrow_donor'] == '0' ? 'NOT' : (userProfile['bone_marrow_donor'] == '1' ? 'Consent': 'Registered')}}</p>
              
              <p>Interest:</p>
              <p>Hobbies : 
                  <span *ngFor="let hobby of userInterestHobby;" class="interest-item">{{hobby.name}}</span>
              </p>
              <p>Games :
                <span *ngFor="let game of userInterestGame;" class="interest-item">{{game.name}}</span>
              </p>
              <p>Musics :
                <span *ngFor="let music of userInterestMusic;" class="interest-item">{{music.title}}</span>
              </p>
              <p>Sports :
                <span *ngFor="let sport of userInterestSport;" class="interest-item">{{sport.name}}</span>
              </p>
              <p>Foods :
                <span *ngFor="let food of userInterestFood;" class="interest-item">{{food.title}}</span>
              </p>
              <p>Drinks :
                <span *ngFor="let drink of userInterestDrink;" class="interest-item">{{drink.name}}</span>
              </p>
              <p>Books :
                <span *ngFor="let book of userInterestBook;" class="interest-item">{{book.name}}</span>
              </p>
              <p>Movies :
                <span *ngFor="let movie of userInterestMovie;" class="interest-item">{{movie.title}}</span>
              </p>

              <p>HashTags : 
                <span *ngFor="let tag of userHashTags;" class="interest-item">{{tag.title}}</span>
              </p>

              <p>TwitterHashTags :
                <span *ngFor="let tag of userTwitterHashTags;" class="interest-item">{{tag.title}}</span>
              </p>

            </div>
          </div> 
          </div>
        </td>
        <td style="position: relative;">
          <div class="chat-content" style="position: absolute;top: 0; left: 0;height: 100%;width: 100%; overflow: scroll;">
            <!-- <div class="chat-content-item" *ngFor="let chatItem of chatContentsArray;" 
                  [ngClass]="{'selfmsg':chatItem.staffId == staffId && chatItem.type == 'staffTouser' && chatItem.userId == userId,
                              'othermsg':chatItem.staffId == staffId && chatItem.type == 'userTostaff' && chatItem.userId == userId}"> -->
            <div class="chat-content-item" *ngFor="let chatItem of chatContentsArray;" 
                  [ngClass]="{'selfmsg': chatItem.type == 'staffTouser' ,
                              'othermsg': chatItem.type == 'userTostaff' }">
                <div class="message-content">
                  <div class="username" *ngIf="chatItem.type == 'staffTouser'">
                    <span *ngFor="let staffItem of staffArray;">
                      <span *ngIf="staffItem.id == chatItem.staffId ">{{staffItem.name}}</span>
                    </span>
                  </div>

                  <div class="username" *ngIf="chatItem.type == 'userTostaff'">
                    <span *ngFor="let userItem of profileArray;">
                      <span *ngIf="userItem.user_id == chatItem.userId ">{{userItem.first_name + ' '+ userItem.last_name}}</span>
                    </span>
                  </div>
                  <div class="chat-content" *ngIf="!chatItem.isMedia">{{chatItem.msg}}</div>
                  <div class="chat-content" *ngIf="chatItem.isMedia"><img [src]="chatItem.msg" style="max-width: 100%;"></div>
                </div>
            </div>
            <div id='scrollToView' style=""></div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="row" *ngIf="contactInfo">
            <div class="col-md-6" style="display: flex;">
              <label>Status:</label>
              <!-- <label>{{contactInfo['status']['name']}}</label> -->
              <select class="form-control" [(ngModel)]="contactInfo.status" (change)="changeStatus()">
                <option *ngFor="let status of statusArray;" [value]="status.id">{{status.name}}</option>
              </select>
            </div>
            <div class="col-md-6" style="display: flex;">
              <label>Actions:</label>
              <!-- <label>{{contactInfo['actions']['name']}}</label> -->
              <select class="form-control" [(ngModel)]="contactInfo.actions" (change)="changeAction()">
                <option *ngFor="let action of actionArray;" [value]="action.id">{{action.name}}</option>
              </select>
            </div>
            <div class="col-md-6">
              <label>Staff:</label>
              <label>{{contactInfo['staff']['name']}}</label>
            </div>
            <div class="col-md-6" style="display: flex;">
              <label>Rating:</label>
              <!-- <label>{{contactInfo['rating']}}</label> -->
              <select class="form-control" [(ngModel)]="contactInfo.rating" (change)="changeRating()">
                <option *ngFor="let i of ratingArray;">{{i}}</option>
              </select>
            </div>
          </div>

          <div class="row" *ngIf="contactInfo">
            <div class="col-md-6">
              <p>
                <label>Tags</label>
                <i class="fas fa-plus-circle" style="cursor: pointer;font-size: 20px;" (click)="clickAddTag()"></i>
              </p>
              <p *ngIf="isAddTag">
                <select name="" class="form-control" style="margin-bottom: 10px;" [(ngModel)]="selectedTagId">
                  <option value="-1">Please Select tag</option>
                  <option *ngFor="let tag of showTagList;" [value]="tag.id">{{tag.name}}</option>
                </select>
                <button class="btn btn-success" (click)="addTag()">Add</button>
                <button class="btn btn-danger" (click)="isAddTag = false;">Cancel</button>
              </p>
              <ul>
                <li *ngFor="let tag of contactInfo['tagsArray'];">{{tag.name}}</li>
              </ul>
            </div>
            <div class="col-md-6">
              <p>Note:</p> 
              <div>
                <textarea name="" class="form-control" [(ngModel)]="contactInfo['note']"></textarea>
                <button class="btn btn-success" (click)="saveNote()" style="margin-top: 10px;">{{saveNoteBtnStr}}</button>
              </div>
            </div>
          </div>
        </td>
        <td>
          <div class="row" style="border-bottom: solid 1px #dee2e6;padding-bottom: 15px;">
            <div class="col-md-8">
              <input type="text" class="form-control" placeholder="Search saved templates" [(ngModel)]="searchTemplateStr" (input)="searchTemplate()">
            </div>
            <div class="col-md-2">
              <button class="btn btn-primary" (click)="searchTemplateStr = ''; searchTemplate();">See All</button>
            </div>
            <div class="col-md-2">
              <button class="btn btn-success" [disabled]="showTemplates.length !== 0" (click)="addNewTemplate()">Add New</button>
            </div>

            <div class="col-md-12" class="templates-div">
              <label *ngFor="let template of showTemplates" class="template-item" (click)="clickTempItem(template.name)">{{template.name}}</label>
            </div>
          </div>

          <div class="row" style="padding-top: 15px;">
            <div class="col-md-12">
              <textarea name="" class="form-control" [(ngModel)]="sendMessageStr" (keyup.enter)="sendMessage()"></textarea>
            </div>
            <div class="col-md-12 text-right">
              <button class="btn btn-default" style="margin-top: 15px;" (click)="selectImage()"><i class="fa fa-image"></i></button>
              <input type="file" accept=".jpg, .png, .jpeg" id="profile-imgage-upload" style="display: none;" (change)="fileChange($event)">
              <button class="btn btn-success" style="margin-top: 15px;" (click)="sendMessage()">Enter</button>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>