<div class="chat">
  <div class="text-right">Total time in Conversation: 30 mins</div>
  
  <div>
    <table class="table table-bordered">
      <tr>
        <td class="text-center">Profile</td>
        <td class="text-center">Chat</td>
      </tr>
      
      <tr>
        <div class="slider-div">
          <slideshow [height]="'300px'" [autoPlay]="true" [showArrows]="true" [imageUrls]="imageUrlArray"
           [autoPlayWaitForLazyLoad]="true">
          </slideshow>

        </div>
      </tr>
    </table>
  </div>
</div>