<div class="container">
  <div class="row" style="margin-top: 20px;">
    <!-- <div class="col-md-3">
      <label for="">StaffId</label>
      <input type="text" class="form-control" placeholder="staffId" [(ngModel)]="staffId" disabled>
    </div>
    <div class="col-md-3">
      <label for="">UserId</label>
      <input type="text" class="form-control" placeholder="userId" [(ngModel)]='userId' disabled>
    </div> -->
    <div class="col-md-12">
      <div class="alert alert-success" *ngIf="isShowMessage">
        <strong>It seems the dating coach is not online now. You can leave your messages here, and he/she will reply you ASAP.</strong>
      </div>
      
    </div>
  </div>
  <!-- <div class="row" style="margin-top: 20px;" *ngIf="staffId && userId"> -->
  <div class="row" style="margin-top: 20px;">
    <div class="col-md-12">
      <div class="chat-content-div">
        <!-- <div class="chat-content-item" *ngFor="let chatItem of chatContentsArray;" 
          [ngClass]="{'selfmsg':chatItem.staffId == staffId && chatItem.type == 'userTostaff' && chatItem.userId == userId,
                      'othermsg':chatItem.staffId == staffId && chatItem.type == 'staffTouser' && chatItem.userId == userId}"> -->
      <div class="chat-content-item" *ngFor="let chatItem of chatContentsArray;" 
          [ngClass]="{'selfmsg': chatItem.type == 'userTostaff',
                      'othermsg': chatItem.type == 'staffTouser'}">
          
          <div class="message-content">
            <div class="username" *ngIf="chatItem.type == 'userTostaff'">
              
              <span *ngIf="profile && profile.user_id == chatItem.userId ">{{profile.first_name + ' '+ profile.last_name}}</span>
            
            </div>

            <div class="username" *ngIf="chatItem.type == 'staffTouser'">
              <span *ngFor="let staffItem of staffArray;">
                <span *ngIf="staffItem.id == chatItem.staffId ">{{staffItem.name}}</span>
              </span>
            </div>

            <div class="chat-content" *ngIf="!chatItem.isMedia">{{chatItem.msg}}</div>
            <div class="chat-content" *ngIf="chatItem.isMedia"><img [src]="chatItem.msg" style="max-width: 100%;"></div>
          </div>
        </div>
        <div id='scrollToView'></div>
      </div>
    </div>
  </div>
  <!-- <div class="row" style="margin-top: 20px;" *ngIf="staffId && userId"> -->
  <div class="row" style="margin-top: 20px;">
    <div class="col-md-10">
      <input type="text" class="form-control" placeholder="Message" [(ngModel)]="sendMessageStr" (keyup.enter)="sendMessage()">
    </div>
    <div class="col-md-2">
      <button class="btn btn-default" style="" (click)="selectImage()"><i class="fa fa-image"></i></button>
      <input type="file" accept=".jpg, .png, .jpeg" id="profile-imgage-upload" style="display: none;" (change)="fileChange($event)">
      <button class="btn btn-success" (click)="sendMessage()">Send</button>
    </div>
  </div>
</div>