<div class="header">
  <div class="left-items">
    <div class="left-item" [ngClass]="{'active': activeURL=='/dashboard/home'}" (click)="goto('/dashboard/home')">Dashboard</div>
    <div class="left-item" [ngClass]="{'active': activeURL=='/dashboard/contacts'}" (click)="goto('/dashboard/contacts')">Contacts</div>
    <div *ngIf="profile.role == 1" class="left-item" [ngClass]="{'active': activeURL=='/dashboard/admin/managestaff'}" (click)="goto('/dashboard/admin/managestaff')">Admin</div>
  </div>
  <div class="right-items">
    <div class="user" (click)="goto('/dashboard/profile')" *ngIf="isLoadedProfile">
      <img [src]="profile.avartar" class="avartar" >
      <div class="username" >{{profile.name}}</div>
    </div>
    <div class="logout" (click)="logout()">Log Out</div>
  </div>
</div>