<div class="managestatus ">
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-success" (click)="addnewStatusClick()">Add New Status</button>
    </div>
  </div>
  <div class="row statuslist-table">
    <div class="col-md-6">
      <table class="table table-hover table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let status of statusList; let i = index">
            <th scope="row">{{i + 1}}</th>

            <td>{{status.name}}</td>
            <td>
              <button class="btn btn-success" (click)="editStatusClick(status.id)">Edit</button>
              <button class="btn btn-danger">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-6">
      <div class="row addnewstatus" *ngIf="viewStatus == 1">
        <div class="col-md-12">
          <div class="form-group">
            <label>Status</label>
            <input type="text" class="form-control" placeholder="Enter Status" [(ngModel)]="newStatus.name">
          </div>

          <button class="btn btn-success" (click)="clickAddNewStatus()">Add New Status</button>
          <button class="btn btn-danger" (click)="viewStatus = 0">Cancel</button>
        </div>
      </div>

      <div class="row editstatus" *ngIf="viewStatus == 2">
        <div class="col-md-12">
          <div class="form-group">
            <label>Status</label>
            <input type="text" class="form-control" placeholder="Enter Status" [(ngModel)]="editStatus.name">
          </div>

          <button class="btn btn-success" (click)="clickSaveStatus()">Save Status</button>
          <button class="btn btn-danger" (click)="viewStatus = 0">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>