<div class="adminheader">
  <div class="adminheader-item" [ngClass]="{'active': activeURL=='/dashboard/admin/managestaff'}" (click)="goto('/dashboard/admin/managestaff')">Manage Staff</div>
  <div class="adminheader-item" [ngClass]="{'active': activeURL=='/dashboard/admin/managetags'}" (click)="goto('/dashboard/admin/managetags')">Manage Tags Options</div>
  <div class="adminheader-item" [ngClass]="{'active': activeURL=='/dashboard/admin/managetemplates'}" (click)="goto('/dashboard/admin/managetemplates')">Manage Templates of Reply</div>
  <div class="adminheader-item" [ngClass]="{'active': activeURL=='/dashboard/admin/managestatus'}" (click)="goto('/dashboard/admin/managestatus')">Manage Status Options</div>
  <div class="adminheader-item" [ngClass]="{'active': activeURL=='/dashboard/admin/manageactions'}" (click)="goto('/dashboard/admin/manageactions')">Manage Action Options</div>
</div>
