<div class="waitinglist">
  <h3>Waiting List</h3>
  <table class="table table-hover">
    <thead>
      <th>Profile</th>
      <th>Name</th>
      <th>Accept</th>
    </thead>
    <tbody>
      <tr *ngFor="let waitItem of waitingList;">
        <td>
          <img [src]="waitItem.image" class="itemimg">
        </td>
        <td>{{waitItem.name}}</td>
        <td>
          <button class="btn btn-success" (click)="accept(waitItem)">Accept</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
